// if the cloned image has a class set which also sets
// such styles we are in trouble. This should be a valid
// use case for !important
.cc-image-zoom__image--active{
    z-index: 1500 !important;
    margin: 0 !important;
    max-height: 1000000px !important;
    max-width: 1000000px !important;
}

.cc-image-zoom__mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1200;
    opacity: 0.0;
}

.cc-image-zoom__close-mask-image{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    font-size: 30px;
    z-index: 1500;
    color: #999;
}