.cc-category-tree-view__list--closed{
    display: none;
}

.cc-category-tree-view__category-entry {
    padding:0 10px;
    position: relative;
}

.cc-category-tree-view__category-entry--active{
    @extend .cc-category-tree-view__category-entry;
    background:red; /* you may want to override this */
}

.cc-category-tree-view__list-item {
    line-height:2;
}

.cc-category-tree-view__list--child {
    padding-left: 10px;
}

.cc-category-tree-view__category-entry-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    @include vendor-prefix(transform, translateY(-50%));
}